:root {
  --white: #fff;
  --max-width-container: 100%;
  --color-default: rgb(254, 44, 85);
  --color-text-gray: rgba(22, 24, 35, .5);
}

body {
  color-scheme: light dark;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-none {
  display: none;
}
